* {
    box-sizing: border-box;
    border: limegreen;
    border-style: solid
}
body {
    background-color: rgb(19, 6, 6);
    color: yellowgreen;
    font-family: monospace;
}

#title {
    display: block;
    font-size: 3em;
    text-align: center;
    line-height: 3em;
}

h2{
    display: block;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    
}

h3 {
    display: block;
    font-size:  1.5em;
    text-align: center;
    line-height: 1.5em;
}

h4 {
    display:block;
    font-size: 1em;
    line-height: 1em;
    margin: 4px 2px 2px 2px;
    padding-top: 1em;
    padding-bottom: 0.5em;

}

footer{
    display: block;
    line-height: 3em;
}