body {
    background-color: rgb(19, 6, 6);
    color: ivory;
    font-family: monospace;
}

#title {
    font-size: 3em;
    text-align: center
}

h2{
    font-size: 1.5em;
    text-align: center
}

h3 {
    font-size:  1em;
    text-align: center
}